.title{
    padding-left: 10px;
    background-color: #F08A5D;
}
.text-cost{
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    margin: 0;
}
.cost{
    width:100%;
    margin-top: 30px;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.button-cost{
    min-width: 200px;
    background-color: #F08A5D;
    color:white;
    font-weight: 300;
    border-color: #F08A5D;
}