.title{
    padding-left: 10px;
    background-color: #F08A5D;
}
.text{
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
}
.date{
    width:100%;
    margin-top: 30px;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: start;
}